.services {

  &__name {
    padding-top: 120px;
    margin-bottom: 60px;

  }

  &__grid {
    @include make-row;
  }
}

.item {
  @include col;
  @include make-col(4);

  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
  padding: 5px 20px;

  &__pic {
    margin-right: 24px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    color: $grey;
    font-family: $font-roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    word-break: break-all;
  }
}