$font-wisdom: "Great Vibes";
$font-roboto: "Roboto Slab", serif;
$font-droid: "Playfair Display", serif;
$font-montserrat: "Montserrat", sans-serif;

$black: #222222;
$yellow: #fed136;
$dark-grey: #777777;
$grey: #bbbbbb;

$primary-color: $dark-grey;
$primary-color-dark: $black;
$primary-color-light: $grey;
$secondary-color: $yellow;
